@model IEnumerable<TaskHub.Models.TeamModel>

@{
    ViewData["Title"] = "PreIndex";
}

<h1>PreIndex</h1>

<p>
    <a asp-action="TeamCreate">TeamCreate New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-teamId="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-teamId="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-teamId="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
